src/docs/index.jade
doctype html
html(lang="en")
  head
    title Riotstrap - bootstrap components using riotjs
    link(rel="stylesheet",type="text/css",href="index.css")
    
  body
    header#top

    .bs-docs-header
      .container
        //- h1 RiotStrap
        //- p
        //-   | Bootstrap components built with 
        //-   a(target='_blank', href='http://riotjs.com/') Riot.js
        //-   | .
        //- p No jQuery, bootstrap.js, or any 3rd party plugins required.

    .container
      .col-md-9
        .row
          h3#Accordion.anchor Accordion
          accordion-example
        .row
          h3#Affix.anchor Affix
          p See menu to the right ->
        .row
          h3#Alert.anchor Alert
          alerts-example
        .row
          h3#Aside.anchor Aside
          rs-aside
        .row
          h3#Buttons.anchor Buttons
          button-example
        .row
          h3#Carousel.anchor Carousel
          rs-carousel
        .row
          h3#Datepicker.anchor Datepicker
          rs-datepicker
        .row
          h3#Dropdown.anchor Dropdown
          dropdown-example
        .row
          h3#Forms.anchor Forms
          forms-example
        .row
          h3#Modal.anchor Modal
          modal-example
        .row
          h3#Popover.anchor Popover
          rs-popover
        .row
          h3#Progressbar.anchor Progressbar
          rs-progressbar
        .row
          h3#Scrollspy.anchor Scrollspy
        .row
          h3#Select.anchor Select
          rs-select
        .row
          h3#Smoothscroll.anchor Smoothscroll
          smoothscroll-example
        .row
          h3#Table.anchor Table
          table-example
        .row
          h3#Tabs.anchor Tabs
          tabs-example
        .row
          h3#Toggle.anchor Toggle
          toggle-example
        .row
          h3#Tooltip.anchor Tooltip
          rs-tooltip
        .row
          h3#Typeahead.anchor Typeahead
          rs-typeahead
        .row
          h3#Spinner.anchor Spinner
          rs-spinner
      .col-md-3
        rs-affix
          rs-scrollspy
            nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
              ul.nav.bs-docs-sidenav
                li(each="{header, i in parent.opts.headers}", riot-tag="smoothscroll", to="{'#' + header}", duration="1000", scrollspy-link, class="{'active':scrollspied[i]}")
                  a(href="{'#' + header}") {header}

    script(src="index.js")

docs/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Riotstrap - bootstrap components using riotjs</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <header id="top"></header>
    <div class="bs-docs-header">
      <div class="container">
      </div>
    </div>
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <h3 id="Accordion" class="anchor">Accordion</h3>
          <accordion-example></accordion-example>
        </div>
        <div class="row">
          <h3 id="Affix" class="anchor">Affix</h3>
          <p>See menu to the right -></p>
        </div>
        <div class="row">
          <h3 id="Alert" class="anchor">Alert</h3>
          <alerts-example></alerts-example>
        </div>
        <div class="row">
          <h3 id="Aside" class="anchor">Aside</h3>
          <rs-aside></rs-aside>
        </div>
        <div class="row">
          <h3 id="Buttons" class="anchor">Buttons</h3>
          <button-example></button-example>
        </div>
        <div class="row">
          <h3 id="Carousel" class="anchor">Carousel</h3>
          <rs-carousel></rs-carousel>
        </div>
        <div class="row">
          <h3 id="Datepicker" class="anchor">Datepicker</h3>
          <rs-datepicker></rs-datepicker>
        </div>
        <div class="row">
          <h3 id="Dropdown" class="anchor">Dropdown</h3>
          <dropdown-example></dropdown-example>
        </div>
        <div class="row">
          <h3 id="Forms" class="anchor">Forms</h3>
          <forms-example></forms-example>
        </div>
        <div class="row">
          <h3 id="Modal" class="anchor">Modal</h3>
          <modal-example></modal-example>
        </div>
        <div class="row">
          <h3 id="Popover" class="anchor">Popover</h3>
          <rs-popover></rs-popover>
        </div>
        <div class="row">
          <h3 id="Progressbar" class="anchor">Progressbar</h3>
          <rs-progressbar></rs-progressbar>
        </div>
        <div class="row">
          <h3 id="Scrollspy" class="anchor">Scrollspy</h3>
        </div>
        <div class="row">
          <h3 id="Select" class="anchor">Select</h3>
          <rs-select></rs-select>
        </div>
        <div class="row">
          <h3 id="Smoothscroll" class="anchor">Smoothscroll</h3>
          <smoothscroll-example></smoothscroll-example>
        </div>
        <div class="row">
          <h3 id="Table" class="anchor">Table</h3>
          <table-example></table-example>
        </div>
        <div class="row">
          <h3 id="Tabs" class="anchor">Tabs</h3>
          <tabs-example></tabs-example>
        </div>
        <div class="row">
          <h3 id="Toggle" class="anchor">Toggle</h3>
          <toggle-example></toggle-example>
        </div>
        <div class="row">
          <h3 id="Tooltip" class="anchor">Tooltip</h3>
          <rs-tooltip></rs-tooltip>
        </div>
        <div class="row">
          <h3 id="Typeahead" class="anchor">Typeahead</h3>
          <rs-typeahead></rs-typeahead>
        </div>
        <div class="row">
          <h3 id="Spinner" class="anchor">Spinner</h3>
          <rs-spinner></rs-spinner>
        </div>
      </div>
      <div class="col-md-3">
        <rs-affix>
          <rs-scrollspy>
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
              <ul class="nav bs-docs-sidenav">
                <li each="{header, i in parent.opts.headers}" riot-tag="smoothscroll" to="{'#' + header}" duration="1000" scrollspy-link class="{'active':scrollspied[i]}"><a href="{'#' + header}">{header}</a></li>
              </ul>
            </nav>
          </rs-scrollspy>
        </rs-affix>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
